html, body {
  background-color: #edefef;
}

.App {
  width: 960px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.blog {
  display: flex;
}

a {
  text-decoration: none;
  padding: 10px;
  border-radius: 14px;
  background-color: #3a595c;
  color: white;
}

h1, h2, h3 {
  color: #192e2f;
}

ul {
  list-style-type: none;
}

.col {
  width: 500px;
}

.blogContentOverflow {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

.blogTitle {
  text-align: center;
  color: #192e2f;
}

.blogAuthor {
  color: grey;
  font-size: 25px;
  text-align: center;
}

.goBack {
  display: block;
  width: 159px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  padding: 10px;
  border-radius: 14px;
  background-color: #3a595c;
  color: white;
  border: none;
}

.buttonContainer {
  margin-top: 40px;
}